.bus-wrapper {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commands-wrapper {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
}

.red {
  color: red;
}

.deck-wrapper {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
}
