<div class="main">
  <div class="bus-wrapper">
    <ng-container *ngFor="let cards of visibleCards">
      <app-card [card]="cards[cards.length - 1]"></app-card>
    </ng-container>
    <ng-container *ngFor="let cards of hiddenCards; index as i">
      <app-card
        [card]="cards[cards.length - 1]"
        [hidden]="currentStep <= i + 3"
      ></app-card>
    </ng-container>
  </div>

  <div class="deck-wrapper">
    <app-card [hidden]="true"></app-card>
  </div>

  <div class="commands-wrapper">
    <button (click)="chooseLess()">-</button>
    <button (click)="chooseEqual()">=</button>
    <button (click)="chooseMore()">+</button>
    <button (click)="printDeck()">Test deck</button>
  </div>
</div>
